<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <menu></menu>
</nav>

<div class="content">
  <div class="headerTitle">prodimator</div>
  <section class="about">
    <div class="bigletter">{{aboutBig}}</div>
    <h3>{{ aboutTitle }}</h3>
    <p>
      {{ aboutText }}
    </p>
  </section>
  
  <section class="lorem">
    <div class="bigletter">{{loremBig}}</div>
    <h3>{{loremTitle}}</h3>
    <p>
      {{ loremText }}
    </p>
  </section>
  
  <section class="ipsum">
    <div class="bigletter">{{ipsumBig}}</div>
    <h3>{{ipsumTitle}}</h3>
    <p>
      {{ ipsumText }}
    </p>
  </section>
  
  <footer>
    <div class="footitem copyright">@Prodimator</div>
    <a href="" class="footitem fa fa-instagram"></a>
    <a href="" class="footitem fa fa-facebook"></a>
    <a href="" class="footitem fa fa-twitter"></a>
    <a href="" class="footitem fa fa-youtube"></a>
  </footer>
</div>

<div class="bgimg"></div>
