
body{
    background-color: #fff;

}
.main-nav ul{
    top: 0;
    position: fixed;
    margin: 0;
}

.main-nav{
    left: 2vw;
    display: inline-block;
    list-style: none;
}

.main-nav li{
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}