<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
  <header>prodimator</header>
  <section class="about">
    <div class="bigletter">a</div>
    <h3>about</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis semper dapibus. Integer lobortis faucibus dui, in molestie augue gravida in. Praesent molestie ante libero, et tristique urna bibendum vel. Suspendisse potenti. Sed tristique quam nec metus rutrum eleifend. Fusce sit amet ullamcorper dolor. Vivamus velit erat, viverra eget semper faucibus, feugiat nec risus. Nulla sodales ante nec justo efficitur malesuada. Donec rutrum gravida ligula at imperdiet. Phasellus convallis accumsan arcu, nec aliquam diam tempus at. Integer fermentum mattis dapibus. Donec elementum nisi quis venenatis fringilla. Pellentesque tempor magna diam, in porttitor ante vestibulum pharetra.
    </p>
  </section>
  
  <section class="lorem">
    <div class="bigletter">l</div>
    <h3>lorem</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis semper dapibus. Integer lobortis faucibus dui, in molestie augue gravida in. Praesent molestie ante libero, et tristique urna bibendum vel. Suspendisse potenti. Sed tristique quam nec metus rutrum eleifend. Fusce sit amet ullamcorper dolor. Vivamus velit erat, viverra eget semper faucibus, feugiat nec risus. Nulla sodales ante nec justo efficitur malesuada. Donec rutrum gravida ligula at imperdiet. Phasellus convallis accumsan arcu, nec aliquam diam tempus at. Integer fermentum mattis dapibus. Donec elementum nisi quis venenatis fringilla. Pellentesque tempor magna diam, in porttitor ante vestibulum pharetra.
    </p>
  </section>
  
  <section class="ipsum">
    <div class="bigletter">i</div>
    <h3>ipsum</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis semper dapibus. Integer lobortis faucibus dui, in molestie augue gravida in. Praesent molestie ante libero, et tristique urna bibendum vel. Suspendisse potenti. Sed tristique quam nec metus rutrum eleifend. Fusce sit amet ullamcorper dolor. Vivamus velit erat, viverra eget semper faucibus, feugiat nec risus. Nulla sodales ante nec justo efficitur malesuada. Donec rutrum gravida ligula at imperdiet. Phasellus convallis accumsan arcu, nec aliquam diam tempus at. Integer fermentum mattis dapibus. Donec elementum nisi quis venenatis fringilla. Pellentesque tempor magna diam, in porttitor ante vestibulum pharetra.
    </p>
  </section>
  
  <footer>
    <div class="footitem copyright">@Prodimator</div>
    <a href="" class="footitem fa fa-instagram"></a>
    <a href="" class="footitem fa fa-facebook"></a>
    <a href="" class="footitem fa fa-twitter"></a>
    <a href="" class="footitem fa fa-youtube"></a>
  </footer>
</div>

<div class="bgimg"></div>
