<a href="/" class="fa fa-facebook"></a>
  <div class="row">
    <div class="col-md-8 col-centered">
      <div class="shopHeaderTitle headerTitle products bottom-border">
        <!-- PRODUCTS --> PORTFOLIO
      </div>
    </div>
  </div>

  <div class="row product-row" *ngFor="let productRow of products">
      <div class="col-md-6 product">
        <div class="col-md-11 product-container float-right ">
          <img class="product-image" src="../../assets/gulls.jpg">
<!--           <div class="product-title col-centered">product container 1</div>
 -->        </div>
      </div>

      <div class="col-md-6 product">
        <div class="col-md-11 product-container float-left ">
          <img class="product-image" src="../../assets/hood.jpg">
<!--           <div class="product-title col-centered">product container 1</div>
 -->        </div>
      </div>
  </div>