/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Lobster|Raleway:100,400');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    background-color: rgb(235, 235, 235);
    /* background-color: rgb(40, 40, 40); */
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
  }

  a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}

.content{
    display: inline-block;
    height: 100%;
    width: 50%;
}
.headerTitle{
    padding: 50px;
    margin-bottom: 50px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 48px;
}
section{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 200px;
}
.bigletter{
    position: absolute;
    bottom: 0;
    margin-left: -30px;
    z-index: -1;
    font-family: 'Lobster', cursive;
    font-size: 300px;
    font-weight: 700;
    color: rgba(0,0,0,15%); 
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
}
.footitem{
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    }
    .copyright{
    font-weight: 400;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.bgimg{
    position: fixed;
    display: inline-block;
    height: 100%;
    width: 50%;
    background: url("/assets/images/indexbg/moro.jpg");
    background-size: cover;
}